.header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: skyblue;
  }

  .header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  }
  .menu {
    position: fixed;
    margin-top: 75px;
  }

  .main {
    padding-top: 50px;
    overflow: auto;
  }
   
  .main-img {
    display: block;
    margin: auto;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
  }

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}